body{
    font-family: Helvetica;
    background-image: url(Images/grid.png), linear-gradient(to top right, rgb(213, 241, 252), rgb(220, 255, 221));
    background-attachment: fixed, fixed;
    background-repeat: repeat, no-repeat;
}



header{
    top: 5px;
    height: 100px;
    position: sticky;
}
h1 {
    display: inline-block;
    padding: 0 2%;
    border-radius: 25px;
    font-size: 2em;
    margin: 20px 0 15px 15px;
    color: #fff;
    background-color: #003052;
    font-weight: normal;
}
.logo {
    display: inline-block;
    position: relative;
    top: 40px;
    content: "";
    width: 100px;
    height: 100px;
    margin: -70px -20px 0 0;
    background: url(Icons/logo.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#self-photo{
    display: inline-block;
    position: relative;
    top: 10px;
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 25px;
}
#image-desc{
    display: inline-block;
    position: relative;
    top: 5px;
    left: 20px;
    padding: 0 1%;
    border-radius: 25px;
    text-align: center;
    background-image: linear-gradient(to top right, rgb(135, 183, 255), rgb(170, 221, 223));
}
.about-me{
    display: inline-block;
    position: relative;
    top: 20px;
    left: 20px;
    padding: 0 2%;
    font-size: 1.5em;
    border-radius: 25px;
    background-image: linear-gradient(to top right, rgb(135, 183, 255), rgb(170, 221, 223));
}

/*************************************\
|*  CUSTOM (SCUFFED) NAVIGATION BAR  *|
\*************************************/
.nav-bar{
    position: fixed;
    padding: 0 10px;
    border-radius: 25px;
    height: 210px; 
    width: 250px;
    top: 10px;
    right: 10px;
    font-size: 1em;
    display: inline-block;
    background-image: linear-gradient(to bottom left, rgb(77, 146, 68), rgb(220, 255, 221));
    background-repeat: no-repeat;
    background-size: 100%;
}

#qual{
    margin: 0 0 0 20px;
    padding: 0 2%;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    color: #fff;
    background-color: #00521b;
}
#qual:link{
    text-decoration: none;
}
#qual-button{
    display: inline-block;
    position: relative;
    background: url(Icons/button.svg);
    top: 20px;
    left: 100px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}

#tech{
    margin: 0 0 0 -40px;
    padding: 0 2%;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    color: #fff;
    background-color: #00521b;
}
#tech:link{
    text-decoration: none;
}
#tech-button{
    display: inline-block;
    position: relative;
    background: url(Icons/button.svg);
    top: 20px;
    left: 30px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}

#serv{
    margin: 0 0 0 7px;
    padding: 0 2%;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    color: #fff;
    background-color: #00521b;
}
#serv:link{
    text-decoration: none;
}
#serv-button{
    display: inline-block;
    position: relative;
    top: 20px;
    left: 69px;
    background: url(Icons/button.svg);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}

#ai{
    margin: 50px 0 0 0;
    padding: 0 2%;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    color: #fff;
    background-color: #00521b;
}
#ai:link{
    text-decoration: none;
}
#ai-button{
    display: inline-block;
    position: relative;
    top: 20px;
    left: 60px;
    background: url(Icons/button.svg);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}

#home{
    margin: 0 0 0 -33px;
    padding: 0 2%;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    color: #fff;
    background-color: #00521b;
}
#home:link{
    text-decoration: none;
}
#home-button{
    display: inline-block;
    position: relative;
    top: 20px;
    left: 24px;
    background: url(Icons/button.svg);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}

/* A lot of redundant code, but my current skills are too limited :( */
#home-active{
    display: inline-block;
    position: relative;
    top: 20px;
    left: 24px;
    background: url(Icons/button-active.svg);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}
#qual-active{
    display: inline-block;
    position: relative;
    background: url(Icons/button-active.svg);
    top: 20px;
    left: 100px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}
#tech-active{
    display: inline-block;
    position: relative;
    background: url(Icons/button-active.svg);
    top: 20px;
    left: 30px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}
#serv-active{
    display: inline-block;
    position: relative;
    top: 20px;
    left: 69px;
    background: url(Icons/button-active.svg);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}
#ai-active{
    display: inline-block;
    position: relative;
    top: 20px;
    left: 60px;
    background: url(Icons/button-active.svg);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}