/*****************************\
|*  Shared CSS for all HTML  *|
\*****************************/
body{
    font-family: Helvetica;
    background-image: url(Images/grid.png), linear-gradient(to top right, rgb(213, 241, 252), rgb(220, 255, 221));
    background-attachment: fixed, fixed;
    background-repeat: repeat, no-repeat;
}
header{
    top: 5px;
    height: 100px;
    position: sticky;
}
h1 {
    display: inline-block;
    padding: 0 2%;
    border-radius: 25px;
    font-size: 2em;
    margin: 20px 0 15px 15px;
    color: #fff;
    background-color: #003052;
    font-weight: normal;
}
/* Imported Code - Change Later*/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/*************************************\
|*  CUSTOM (SCUFFED) NAVIGATION BAR  *|
\*************************************/
.nav-bar{
    position: fixed;
    padding: 0 10px;
    border-radius: 25px;
    height: 210px; 
    width: 250px;
    top: 10px;
    right: 10px;
    font-size: 1em;
    display: inline-block;
    /*background-image: url(Images/headshot.png);*/
    background-repeat: no-repeat;
    background-size: 100%;
}

#qual{
    margin: 0 0 0 20px;
    padding: 0 2%;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    color: #fff;
    background-color: #00521b;
}
#qual:link{
    text-decoration: none;
}
#qual-button{
    display: inline-block;
    position: relative;
    background: url(Icons/button.svg);
    top: 20px;
    left: 100px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}

#tech{
    margin: 0 0 0 -40px;
    padding: 0 2%;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    color: #fff;
    background-color: #00521b;
}
#tech:link{
    text-decoration: none;
}
#tech-button{
    display: inline-block;
    position: relative;
    background: url(Icons/button.svg);
    top: 20px;
    left: 30px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}

#serv{
    margin: 0 0 0 7px;
    padding: 0 2%;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    color: #fff;
    background-color: #00521b;
}
#serv:link{
    text-decoration: none;
}
#serv-button{
    display: inline-block;
    position: relative;
    top: 20px;
    left: 69px;
    background: url(Icons/button.svg);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}

#ai{
    margin: 50px 0 0 0;
    padding: 0 2%;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    color: #fff;
    background-color: #00521b;
}
#ai:link{
    text-decoration: none;
}
#ai-button{
    display: inline-block;
    position: relative;
    top: 20px;
    left: 60px;
    background: url(Icons/button.svg);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}

#home{
    margin: 0 0 0 -33px;
    padding: 0 2%;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    color: #fff;
    background-color: #00521b;
}
#home:link{
    text-decoration: none;
}
#home-button{
    display: inline-block;
    position: relative;
    top: 20px;
    left: 24px;
    background: url(Icons/button.svg);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}

/* A lot of redundant code, but my current skills are too limited :( */
#home-active{
    display: inline-block;
    position: relative;
    top: 20px;
    left: 24px;
    background: url(Icons/button-active.svg);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}
#qual-active{
    display: inline-block;
    position: relative;
    background: url(Icons/button-active.svg);
    top: 20px;
    left: 100px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}
#tech-active{
    display: inline-block;
    position: relative;
    background: url(Icons/button-active.svg);
    top: 20px;
    left: 30px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}
#serv-active{
    display: inline-block;
    position: relative;
    top: 20px;
    left: 69px;
    background: url(Icons/button-active.svg);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}
#ai-active{
    display: inline-block;
    position: relative;
    top: 20px;
    left: 60px;
    background: url(Icons/button-active.svg);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}


/*************************************\
|*    HTML Specific Formatting/ETC   *|
\*************************************/

/* Home/Landing Page */
#self-photo{
    display: inline-block;
    position: relative;
    top: 10px;
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 25px;
}
#image-desc{
    display: inline-block;
    position: relative;
    top: 5px;
    left: 20px;
    padding: 0 1%;
    border-radius: 25px;
    text-align: center;
    background-image: linear-gradient(to top right, rgb(135, 183, 255), rgb(170, 221, 223));
}
.about-me{
    display: inline-block;
    position: relative;
    top: 20px;
    left: 20px;
    padding: 0 1%;
    margin: 0 0 0 10px;
    font-size: 1.5em;
    border-radius: 25px;
    background-image: linear-gradient(to top right, rgb(135, 183, 255), rgb(170, 221, 223));
}